
body {
    background-color: whitesmoke;
    height: 100vh;
}
.up-img{
    width: 50px;
    height: 50px;
}
.main-title{
    font-family: 'Single Day', cursive;
    font-size: 120px;
    text-align: right;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
}

.button {
    float : left;
    width: 100px; height: 50px;
    background-color: #ccc;
    border-radius : 20px;
    box-shadow : 3px 3px 3px black;
    ransition-duration: 0.3s;
}
.button:active{
    margin-left: 5px;
    margin-top : 5px;
    box-shadow : none;
}
.background_color{
    background-color: whitesmoke;
}
.drawing-hide-button-wrap {
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
}
.navbar-theme {
    font-size: 2rem;
    font-weight: bold;
}
.card-wrapper {
    display: flex;
    flex-wrap : wrap;
    margin: 10px 100px;
}
.card {
    flex-shrink: 0;
    width: 380px;
    height: 430px;
    margin: 10px 22.875px;
    text-align: center;
}
.card-image {
    border-bottom: 0.5px solid #adadad;
}
.card-content {
    padding: 1.3rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.diary-wrap {
    display: flex;
}
.diary {
    display: none;
    /*justify-content: space-between;*/
    /*width: 100%;*/
    height: 400px;
    background-color: cornsilk;
    /*margin: 0 15%;*/
    margin: auto;
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02)
}

.diary:hover {

}

.canvas {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 600px;
    height: 400px;
}

.top-wrapper {
    width: 580px;
    margin: 5px 0;
}

.diary-date {
    width: 390px;
    height: 40px;
    margin-left: 8px;
}

.diary-comment {
    width: 570px;
    height: 35px;
    margin: 5px 10px;
}

.diary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slidecontainer {
    display: flex;
}

.color-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.diary-submit-button {
    width: 200px;
}

.radio-color-wrap {
    width: 470px;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.tool-wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.tool-button {
    width: 120px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.diary-submit-button {
    width: 81%;
    margin: 2% 5%;
    font-family: 'IBM Plex Sans KR', sans-serif;
}


.buttons {
    font-family: 'Staatliches', cursive;
}

#btn {
    font-family: 'Staatliches', cursive;
}
#welcome {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.3rem;
}
.is-sparta {
    color: #e8344e !important;
    position: absolute;
    bottom: 17.5%;
    right: 27%;
}

.quiz {
    display: none;
    /*justify-content: space-between;*/
    /*width: 100%;*/
    width: 1200px;
    height: 400px;
    background-color: cornsilk;
    /*margin: 0 15%;*/
    margin: auto;
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02)
}

.quiz-image-wrap {
    width: 600px;
    height: 400px;
    background-color: white;
}

.quiz-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-right-wrap {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
}

.quiz-question {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.3rem;
}
.select{
    margin-left: 20px;
}
