body{
    background-color: whitesmoke;
    height: 100vh;
}
.main-title{
    font-family: 'Single Day', cursive;
    font-size: 120px;
    text-align: right;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
}
.button {
    float : left;
    width: 100px; height: 50px;
    background-color: #ccc;
    border-radius : 20px;
    box-shadow : 3px 3px 3px black;
    ransition-duration: 0.3s;
}
.button:active{
    margin-left: 5px;
    margin-top : 5px;
    box-shadow : none;
}
.navbar-theme {
    font-size: 2rem;
    font-weight: bold;
}

#navbar-button {
    margin-left: 0;
}

#mypage-box{
    width: 100%;
    margin: auto;
    padding: 3% 7%;
}
#profile-box {
    display: flex;
    justify-content: flex-start;
    /*width: 90%;*/
    width: 60%;
    margin: 1% 5% 0% 5%;
}

#profile-image {
    margin-left: 30px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.hero-body {
    padding-bottom: 1%;
}

.card-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap : wrap;
}

.card {
    flex-shrink: 0;
    width: 20%;
    height: 10%;
    margin: 10px
}
.content_text {
    height: 30px;
}
