.logo {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.loadfile {
    display: block;
    margin: auto;
}

.signup-form-wrap {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 476px;
}

.input {
    margin-bottom: 10px;
    border: 1px solid black;
}
/* 여기서부터 작업*/

.filebox label {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 10px;
    padding: .5em .75em;
    color: #000000;
    /*font-size: inherit;*/
    line-height: normal;
    vertical-align: middle;
    /*background-color: #ffffff;*/
    cursor: pointer;
    border-radius: .25em;
    /*text-align:center;*/
    /*vertical-align:middle;*/
    background-color: #ffdd57;
    font-family: 'Staatliches', cursive;
    font-size: 1.3rem;
    border: 1px solid black;
}
.filebox input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.labelwrap {
    display: block;
    width : 472px;
    margin : auto;
}
body
{
  background-color:whitesmoke;
    height : 100vh;
}

#btn {
    background-color: #ffdd57;
    font-family: 'Staatliches', cursive;
    font-size: 1.3rem;
    border: 1px solid black;
}