.logo {
    display: block;
    margin-left: 40%;
    margin-bottom: 10px;
}
.loadfile {
    display: block;
    margin: auto;
}

.signup-form-wrap {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 50%;
}

.input {
    margin-bottom: 10px;
}