<link rel="stylesheet" href="../static/css/login.css">{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script defer src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}
    {#    <img class="logo" src="{{ url_for('static', filename='img/pepegood.jpg') }}" alt="pepe">#}
    <div class="login-form-wrap">
        <div class="left">
            <h1> To-Scribble </h1>
            <h5> Welcom to To-Scribble</h5>
        </div>
        <div class="vl"></div>
        <div class="right ">
            <div class="login-form ">
                <input class="input" type="text" placeholder="이메일을 입력해 주세요">
                <input class="input" type="text" placeholder="패스워드를 입력해 주세요">
                <button class="button is-medium is-fullwidth">Log in</button>
                <h2><a href="/usersignup/">혹시 회원이 아니신가요?</a></h2>
            </div>
        </div>
    </div>
{% endblock %}