{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{{ url_for('static', filename='js/mainpage.js') }}"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <nav class="navbar background_color" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="main-title"><strong>TO-SCRIBBLE</strong></div>
            {# <div class="navbar-item navbar-theme title">To-Scribble</div>#}
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if logincheck == True %}
                            <a class="button is-warning button" style="color: black; font-size: 1.3rem;"
                               href="/mypage/">
                                <strong>My page</strong>
                            </a>
                        {% else %}
                            <a class="button is-warning button" style="color: black; font-size: 1.3rem;"
                               href="/usersignup/">
                                <strong>Sign up</strong>
                            </a>
                        {% endif %}

                        {% if logincheck == True %}
                            <a class="button is-warning button" style="color: black; font-size: 1.3rem;"
                               onclick="log_out()"/">
                            <strong>Log out</strong>
                            </a>
                        {% else %}
                            <a class="button is-warning button" style="color: black; font-size: 1.3rem;"
                               href="/userlogin/">
                                <strong>Log in</strong>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="drawing-wrap background_color">
        <div class="drawing-hide-button-wrap">
            <div class="drawing-hide-theme" id="welcome">
                {{ userinfo['nickname'] }}님 환영합니다! 오늘의 기분을 표현해보세요!
            </div>
            <button class="drawing-hide-button" id="btn">
                CLICK😎
            </button>
        </div>
        <div class="diary-wrap">
            <div class="diary">
                <canvas class="canvas" width="4800" height="3200">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>

                <div class="diary-content">
                    <div class="top-wrapper">
                        <input class="input is-small diary-date" id="date-box" type="date" placeholder="날짜 선택">

                        <div class="select">
                            <select id="weather-select">
                                <option>날씨</option>
                                <option>🌞</option>
                                <option>☂</option>
                                <option>🌀</option>
                                <option>❄</option>
                            </select>
                        </div>
                    </div>
                    <input class="input is-small diary-comment" type="text" placeholder="짧은 글로 내 기분을 표현하세요!"
                           maxlength="20">
                    <div class="radio-color-wrap">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <button style="background-color: red" class="red-button color-button"
                                data-color="red"></button>
                        <button style="background-color: pink" class="pink-button color-button"
                                data-color="pink"></button>
                        <button style="background-color: orange" class="orange-button color-button"
                                data-color="orange"></button>
                        <button style="background-color: yellow" class="yellow-button color-button"
                                data-color="yellow"></button>
                        <button style="background-color: lightgreen" class="lightgreen-button color-button"
                                data-color="lightgreen"></button>
                        <button style="background-color: green" class="green-button color-button"
                                data-color="green"></button>
                        <button style="background-color: lightskyblue" class="lightskyblue-button color-button"
                                data-color="lightskyblue"></button>
                        <button style="background-color: blue" class="blue-button color-button"
                                data-color="blue"></button>
                        <button style="background-color: mediumpurple" class="mediumpurple-button color-button"
                                data-color="mediumpurple"></button>
                        <button style="background-color: purple" class="purple-button color-button"
                                data-color="purple"></button>
                        <button style="background-color: saddlebrown" class="saddlebrown-button color-button"
                                data-color="saddlebrown"></button>
                        <button style="background-color: black" class="black-button color-button"
                                data-color="black"></button>
                    </div>
{#                    <details>#}
{#                           <summary>More Color</summary>#}
{#                            <div>#}
{#                            <button style="background-color: orange" class="orange-button color-button"#}
{#                                data-color="orange"></button>#}
{#                            <button style="background-color: yellow" class="yellow-button color-button"#}
{#                                data-color="yellow"></button>#}
{#                            <button style="background-color: pink" class="pink-button color-button"#}
{#                                data-color="pink"></button>#}
{#                            <button style="background-color: lightgreen" class="lightgreen-button color-button"#}
{#                                data-color="lightgreen"></button>#}
{#                            <button style="background-color: skyblue" class="skyblue-button color-button"#}
{#                                data-color="skyblue"></button>#}
{#                            <button style="background-color: mediumpurple" class="mediumpurple-button color-button"#}
{#                                data-color="mediumpurple"></button>#}
{#                            <button style="background-color: saddlebrown" class="saddlebrown-button color-button"#}
{#                                data-color="saddlebrown"></button>#}
{#                            </div>#}
{#                    </details>#}
                    <div class="tool-wrap">
                        <button class="tool-button button is-warning pen" style="font-weight: bold">연필</button>
                        <button class="tool-button button is-warning eraser" style="font-weight: bold">지우개</button>
                        <button class="tool-button button is-warning clear" style="font-weight: bold">새로 쓰기</button>
                        {#                    <button class="tool-button send-image">Image</button>#}
                    </div>
                    <button class="diary-submit-button button is-warning" style="font-weight: bold">내 기분 알리기</button>
                </div>
            </div>
        </div>

        <div class="card-wrapper background_color" id="card-box">
            {% for post in all_post %}
                <div class="card" id="{{ post.postId }}">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src={{ post.img }}>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {{ post.comment }}
                            <br>
                            <time datetime="2016-1-1">{{ post.date }}</time>
                            <br>
                            <weather>{{ post.weather }}</weather>
                        </div>
                    </div>
                    <a class="level-item is-sparta" aria-label="heart" onclick="toggle_like('{{ post.postId }}')">
                    <span class="icon is-small">
                        {% if post.checklike %}
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        {% endif %}
                    </span>&nbsp;<span
                            class="like-num">{{ post.count }}</span>
                    </a>
                </div>
            {% endfor %}
            <div style="cursor:pointer;position: fixed;bottom: 10px;right: 10px;" onclick="window.scrollTo(0,0);">
                {#cursor 이거는 마우스를 손가락으로 바꿔줌#}

                <img class="up-img" src="../static/img/up.png">
            </div>

        </div>
    </div>
    {#    </div>#}


{% endblock %}