{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
<script defer src="{{ url_for('static', filename='js/mainpage.js') }}"></script>
{% endblock %}

{% block content %}

    <div>Mainpage test</div>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item navbar-theme">To-Scribble</div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if logincheck == True %}
                    <a class="button is-primary" href="/mypage/">
                        <strong>My page</strong>
                    </a>
                    {% else %}
                    <a class="button is-primary" href="/usersignup/">
                        <strong>Sign up</strong>
                    </a>
                    {% endif %}

                    {% if logincheck == True %}
                    <a class="button is-light" href="/userlogout/">
                        Log out
                    </a>
                    {% else %}
                    <a class="button is-light" href="/userlogin/">
                        Log in
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</nav>

<div class="drawing-wrap">
    <div class="drawing-hide-button-wrap">
        <div class="drawing-hide-theme">
            {{ userinfo['nick'] }}님 환영합니다! 오늘의 기분을 표현해보세요!
        </div>
        <button class="drawing-hide-button">
            😎
        </button>
    </div>
    <div class="diary-wrap">
        <div class="diary">
            <canvas class="canvas" width="600" height="400">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>

            <div class="diary-content">
                <input class="input is-small diary-date" type="date" placeholder="날짜 선택">

                <div class="select">
                    <select id="weather-select">
                        <option>Select dropdown</option>
                        <option>🌞</option>
                        <option>☂</option>
                        <option>🌀</option>
                        <option>❄</option>
                    </select>
                </div>
                <input class="input is-small diary-comment" type="text" placeholder="30자로 내 기분을 표현해보세요" maxlength="30">
                <div class="radio-color-wrap">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <button style="background-color: red" class="red-button color-button" data-color="red"></button>
                    <button style="background-color: green" class="green-button color-button" data-color="green"></button>
                    <button style="background-color: blue" class="blue-button color-button" data-color="blue"></button>
                    <button style="background-color: black" class="black-button color-button" data-color="black"></button>
                </div>
                <div class="tool-wrap">
                    <button class="tool-button pen">Pen</button>
                    <button class="tool-button eraser">Eraser</button>
                    <button class="tool-button clear">Clear</button>
                    <button class="tool-button send-image">Image</button>
                </div>
                <button class="diary-submit-button">공유하기</button>
            </div>
        </div>
    </div>
</div>

<div class="card-wrapper" id="card-box">
{% for post in all_post %}
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src={{ post.img }} >
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                {{post.comment}}
                <br>
                <time datetime="2016-1-1">{{post.date}}</time>
                <br>
                <weather>{{post.weather}}</weather>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}