{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
    <script defer src="{{ url_for('static', filename='js/mainpage.js') }}"></script>

{% endblock %}

{% block content %}

    <nav class="navbar background_color" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="main-title"><strong>TO-SCRIBBLE</strong></div>
            {# <div class="navbar-item navbar-theme title">To-Scribble</div>#}
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if logincheck == True %}
                            <a class="button is-warning button" style="color: black" href="/mypage/">
                                <strong>My page</strong>
                            </a>
                        {% else %}
                            <a class="button is-warning button" style="color: black" href="/usersignup/">
                                <strong>Sign up</strong>
                            </a>
                        {% endif %}

                        {% if logincheck == True %}
                            <a class="button is-warning button" style="color: black" onclick="log_out()"/">
                            <strong>Log out</strong>
                            </a>
                        {% else %}
                            <a class="button is-warning button" style="color: black" href="/userlogin/">
                                <strong>Log in</strong>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="drawing-wrap background_color">
        <div class="drawing-hide-button-wrap">
            <div class="drawing-hide-theme">
                {{ userinfo['nickname'] }}님 환영합니다! 오늘의 기분을 표현해보세요!
            </div>
            <button class="drawing-hide-button">
                눌러😎
            </button>
        </div>
        <div class="diary-wrap">
            <div class="diary">
                <canvas class="canvas" width="4800" height="3200">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>

                <div class="diary-content">
                    <div class="top-wrapper">
                        <input class="input is-small diary-date" type="date" placeholder="날짜 선택">

                        <div class="select">
                            <select id="weather-select">
                                <option>Select dropdown</option>
                                <option>🌞</option>
                                <option>☂</option>
                                <option>🌀</option>
                                <option>❄</option>
                            </select>
                        </div>
                </div>
                <input class="input is-small diary-comment" type="text" placeholder="30자로 내 기분을 표현해보세요" maxlength="30">
                <div class="radio-color-wrap">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <button style="background-color: red" class="red-button color-button" data-color="red"></button>
                    <button style="background-color: green" class="green-button color-button"
                            data-color="green"></button>
                    <button style="background-color: blue" class="blue-button color-button" data-color="blue"></button>
                    <button style="background-color: black" class="black-button color-button"
                            data-color="black"></button>
                </div>
                <div class="tool-wrap">
                    <button class="tool-button button is-warning pen" style="font-weight: bold">연필</button>
                    <button class="tool-button button is-warning eraser" style="font-weight: bold" >지우개</button>
                    <button class="tool-button button is-warning clear" style="font-weight: bold" >새로 쓰기</button>
                    {#                    <button class="tool-button send-image">Image</button>#}
                </div>
                <button class="diary-submit-button button is-warning" style="font-weight: bold" >내 기분 알리기</button>
            </div>
        </div>
    </div>

    <div class="card-wrapper background_color" id="card-box">
        {% for post in all_post %}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src={{ post.img }}>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        {{ post.comment }}
                        <br>
                        <time datetime="2016-1-1">{{ post.date }}</time>
                        <br>
                        <weather>{{ post.weather }}</weather>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}