{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}

{% block content %}

    <nav class="navbar" style="background-color: whitesmoke" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="main-title"><strong>TO-SCRIBBLE</strong></div>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="button is-warning button" style="color: black; margin-right: .5rem" href="/">
                    <strong>Mainpage</strong>
                </a>
                <a class="button is-warning button" style="color: black" onclick = "log_out()">
                            <strong>Log out</strong>
                </a>
            </div>

        </div>

    </nav>

    <div class="box" style="background-color: whitesmoke" id="mypage-box">
        <section class="hero">
            <div class="hero-body">
                <p class="title">
                    My Diary
                </p>
                <p class="subtitle">
                    ▶ 내 프로필
                </p>
            </div>
        </section>
        <div class="box" id="profile-box">
            <figure class="image is-128x128" id="profile-image">
                <img class="is-rounded" src="{{ userinfo['image'] }}">
            </figure>
            <div class="profile-info">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nick Name</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail">{{ userinfo['nickname'] }}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail">{{ userinfo['email'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <p class="subtitle">
            ▶ 나의 기록
        </p>
    </div>
    <div class="card-wrapper">
        {% for post in my_posts %}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src={{ post.img }}>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <div class="content_text">
                            {{post.comment}}
                        </div>
                        <div>
                            <br>
                            <time datetime="2016-1-1">{{post.date}}</time>
                            <weather>{{post.weather}}</weather>
                        </div>
                        <button onclick="deleteMypage()" class="delete"></button>
                    </div>
                </div>

                <a class="level-item is-sparta" aria-label="heart">
                    <span class="icon is-small">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>&nbsp;<span
                        class="like-num">{{ post.count }}</span>
                </a>

                <button class="button is-danger" onclick="deleteMypage({{post.postId}})">
                    Delete post
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}