{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script defer src="{{ url_for('static', filename='js/signup.js') }}"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="signup_box">
<div id='View_area'>
    <img class="logo" src="{{ url_for('static', filename='img/pepewine.png') }}" alt="pepe">
</div>
<div class = "filebox">
    <div class = "labelwrap">
        <label class = "filelabel" for="profile_pt">File Upload</label>
    </div>
    <input class = "fileinput" type="file" name="profile_pt" id="profile_pt" onchange="previewImage(this,'View_area')">
</div>



<div class="signup-form-wrap">
    <div class="signup-form">
        <input class="input" id="nick-id" type="text" placeholder="닉네임을 입력해 주세요">
        <input class="input" id="email-id" type="email" placeholder="이메일을 입력해 주세요">
        <input class="input" id="pw-id" type="password" placeholder="패스워드를 입력해 주세요">
        <input class="input" id="pw-check-id" type="password" placeholder="패스워드를 다시 입력해 주세요">
        <div class="signup_btn">
            <button onclick="makeInfo()" id="btn" class="button is-medium is-fullwidth">Sign up</button>
            <h2 style="text-align: center;"><a href="/userlogin/">Already user?</a></h2>
        </div>
    </div>
</div>
    </div>
{% endblock %}